*{
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    
}
#header{
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px

}
#bottom {
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px

}
#aside{
    float:left;
    width: 33%;
}