*{
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    
}

header{
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;

}

h2 {
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;

}

.clearfix::after {
    content: "";
    display:block;
    clear:both;
}

section{
    padding:20px;
    margin-bottom:10px;
}



#left {
    overflow: auto;
    width: 55%;
    clear:both;
    color: #ffffff;
    background: #ebebeb;
}


#article{
    float:left;
    height: 200px;
    width: 50%;
    padding:10px;
    margin-left:30px;
    background: #5f5b5b;
    border:1px solid#eee;

}

#hs{
    float:left;
    height: 100px;
    width: 50%;
    padding:5px;
    margin-left:30px;
    text-decoration-color:white;
    background: #ebebeb;
    border:1px solid#eee;
}
#aside{
    float:right;
    height:200px;
    width: 40%;
    background: #ebebeb;
}


footer{
    padding: 20px;
    clear:both;
    background: #ebebeb;
}